# SQL Server - Bibliouni (ORM)
BIBLIOUNI_SERVER=Jeanmarko
BIBLIOUNI_DB=Bibliouni
BIBLIOUNI_USER=
BIBLIOUNI_PASSWORD=
BIBLIOUNI_DRIVER=ODBC Driver 17 for SQL Server
BIBLIOUNI_TRUSTED_CONNECTION=yes

# SQL Server - TenebrosaOLTP (Disparador - pyodbc directo)
DB_SERVER=Jeanmarko
DB_NAME=TenebrosaOLTP
DB_USER=
DB_PASSWORD=
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUSTED_CONNECTION=yes

# Evolution API Configuration
EVOLUTION_URL=http://localhost:8081
EVOLUTION_API_KEY=mi-api-key-secreta-123
EVOLUTION_INSTANCE=jean
WHATSAPP_DESTINATION=51952310138

# Backend
FLASK_PORT=5000
FLASK_DEBUG=true
